
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title-text{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: underline;
        text-shadow: 2px 2px 5px rgba(124, 124, 124, 0.5);
        @media (max-width: 900px) {
            font-size: 24px;
        }
        @media (max-width: 600px) {
            font-size: 20px;
        }
        @media (max-width: 400px) {
            font-size: 16px;
        }
    }

}